/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}