/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}
.text-primary {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.header {
  background-color: #fff8f3;
  background-image: url("../styles/image/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* banner section style */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner-description {
}
.profile-pic {
  width: 500px;
}
..banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700px;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about section style */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
/* skill releted section */
#what-i-do-description {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;
}
/* resume section styles */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 60px;
}
.resume-item-institute{
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-item-institute,
.resume-item-description {
  color: #757575;
}
.resume-item-title {
  color:#474747; 
  font-size: 25px; 
  font-weight: 700;
  margin-bottom: 10px;
  
}
.resume-container hr{
  margin: 30px;
}
.download-cv{
  text-align: center;
  margin-top: 50px;
}
